.gradle
/build/
build/
out/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

/logs/
*.log
*.log.gz
*.hprof
*.class
gradle.properties
*.csv
/filestore
/filestore/**
